// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

html, body
  overscroll-behavior-y contain

.visibility-hidden
  visibility hidden

.morris-hover
  z-index 100
